<!doctype html>
<html>
<head> 
    <link rel="stylesheet" type="text/css" href="../css/about-us.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
<title>About Us</title>
</head>

<body>
    
     <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">

        <a class="navbar-brand" href="../images/logo-red.png">
            <img src="images/logo-red.png" class="nav-logo" alt="LOGO"> Job Portals
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="jobs.html" class="nav-link">Jobs</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Job List</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Day</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Day (Colored)</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Night</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Night (Colored)</a>
                    </div> 
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="view/about.html" class="nav-link">Contact Us</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="about-us.html" class="nav-link active">About Us</a>
                </li>
                
                

            </ul>
             <ul class="navbar-nav ml-auto" id="navRegister">
                
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
           <div class="bgImage"></div>	
            <div class="col-md-10 bg-dark about-top">
                  	 <h1 class="heading">About Us</h1>
                    <p class="main-parag">A World Class Classified Company</p>
            </div>
        </div><br><br><br><br>
        
<!--        2nd row-->
	
        <div class="container-fluid">
                
            <div class="row mr-t-20">
                <div class="col-sm-6" id="registerEvents">
                    <h2 class="text-center">Register Events</h2>
                        <div class="p-parent">
                        <p>
                            You can contact us at this email: <span style="user-select: all">ranag4u69@gmail.com</span> to add any event in our website. please provide full details of that event.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" id="submitAnyIssue">
                    <h2 class="text-center">Submit Any Issue</h2>
                    <div class="p-parent">
                        <p>
                            You can contact us at this email: <span style="user-select: all">ranag4u69@gmail.com</span> to add any event in our website. please provide full details of that event.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mr-t-20">
                <div class="col-sm-6" id="technicalSupport">
                    <h2 class="text-center">Technical Support</h2>
                    <div class="p-parent">
                        <p>
                            You can contact us at this email: <span style="user-select: all">ranag4u69@gmail.com</span> to submit any query. please provide full details of that query.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" id="teamMembers">
                    <h2 class="text-center">Team Members</h2>
                    <div class="p-parent">
                        <p>
                            You can contact my team by mailing us on : <span style="user-select: all">ranag4u69@gmail.com</span>. <br>Our team members will get to you soon.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mr-t-20">
                <div class="col-sm-6" id="companyDetails">
                    <h2 class="text-center">Company Details</h2>
                    <div class="p-parent">
                        <p>
                            You can contact us at this email: <span style="user-select: all">ranag4u69@gmail.com</span> to add any event in our website. please provide full details of that event.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" id="teamCordination">
                    <h2 class="text-center">Team Co-ordination</h2>
                    <div class="p-parent">
                        <p>
                            You can contact us at this email: <span style="user-select: all">ranag4u69@gmail.com</span> to add any event in our website. please provide full details of that event.
                        </p>
                    </div>
                </div>
            </div>
         </div><br><br>
           
        
<!--         end row-->
               <center><h1>About Developers</h1></center>
        <div class="row mt-5">
            <div class="col-md-12">
              <center><img class="image" src="../images/about-pics/Screenshot_20190327-011222.jpg" height="300px" width="300px" alt="image"></center>
                   <h3 class="image-Heading">M.Awais</h3>
                   <p class="child-parag">Admin</p>
                   <p class="inner-parag">Television is an increasingly important means of communication.
                     Exams are not the only means of assessing a student's ability.
                     Well, we'll just have to find some other means of persuading her.
                     There must be some means by which wealth can be distributed more equitably</p>
            </div>
        </div>
             <h1 class="team-Heading">Our Team</h1>
         <div class="row mt-5">
             <div class="col-md-3 ">
         <center><img class="images-child" src="../images/about-pics/Screenshot_20190327-011222.jpg" height="250xp" width="250px" alt="image"></center>
                 <h3 class="image-child-Heading">M.Awais</h3>
                 <p class="child-parag">Admin</p>
                 <div class="fa-icon">
                    <i class="fa fa-facebook-f"></i>
                  	<i class="fa fa-twitter"></i>
                 	<i class="fa fa-google"></i>
                 	<i class="fa fa-instagram"></i>
                 </div>
             </div>
             <div class="col-md-3 ">
          <center><img class="images-child" src="../images/about-pics/p3.png" height="250px" width="250px" alt="image"></center>
                 <h3 class="image-child-Heading">Shafqat Ali</h3>
                 <p class="child-parag">Team</p>
                  <div class="fa-icon">
                    <i class="fa fa-facebook-f"></i>
                  	<i class="fa fa-twitter"></i>
                 	<i class="fa fa-google"></i>
                 	<i class="fa fa-instagram"></i>
                 </div>
             </div>
             <div class="col-md-3 ">
           <center><img class="images-child" src="../images/about-pics/p2.jpg" height="250px" width="250px" alt="image"></center>
                 <h3 class="image-child-Heading">Zeeshan ALi</h3>
                 <p class="child-parag">Team</p>
                  <div class="fa-icon">
                    <i class="fa fa-facebook-f"></i>
                  	<i class="fa fa-twitter"></i>
                 	<i class="fa fa-google"></i>
                 	<i class="fa fa-instagram"></i>
                 </div>
             </div>
              <div class="col-md-3 ">
            <center><img class="images-child" src="../images/about-pics/frahn.jpg" height="250px" width="250px" alt="image"></center>
                 <h3 class="image-child-Heading">M.Farhan</h3>
                 <p class="child-parag">Team</p>
                  <div class="fa-icon">
                    <i class="fa fa-facebook-f"></i>
                  	<i class="fa fa-twitter"></i>
                 	<i class="fa fa-google"></i>
                 	<i class="fa fa-instagram"></i>
                 </div>
             </div>
         </div>
         </div>
         <br><br><br>

	<!--	about panel-->
	<div class="about-panel container-fluid">
		<div class="row">
			<div class="col-md-3 ab-first-row">
				<center><img alt="img" src="logo-red.png" width="200px" height="auto" /></center>
				<!--					<br>-->
				<!--					<p>We provide you best opertunities to get Jobs in a high talented working comunity.</p>-->
				<br><br>
				<center>
					<hr style="background-color: #1E1E1E; width: 90%;">
				</center>
				<p>Call Us - 0348-2821889</p>
				<p>Send Email On ranag4u69@gmail.com</p>
				<p>Visit Us SFC Aptech Karachi, Pakistan</p>
			</div>
			<div class="col-md-3">
				<h3>POPULAR CATEGORIES</h3>
				<br>
				<div class="tags">
					<span>REACT-NATIVE</span>
					<span>ANDROID</span>
					<span>HTML &amp; CSS</span>
					<span>JAVASCRIPT</span>
					<span>REACT-JS</span>
					<span>JAVA</span>
					<span>ASP.NET</span>
				</div>
				<br>
				<br>
				<br>
				<h3>GET MORE INFO</h3>
				<p>Get any info or give us any suggestions by contacting us.We provide you best opertunities to get
					Jobs quickly.</p>
			</div>
			<div class="col-md-3">
				<h3>RECENTS JOBS</h3><br>
				<h4>Software House Manager</h4>
				<h4>Content Writer</h4>
				<h4>Game Developer</h4>
				<h4>Frontend Designer</h4>
				<h4>Backend Server Designer</h4>
				<br>
				<br>

				<p>Get More Jobs...</p>
				<div class="icon-bar">
					<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="google"><i class="fa fa-google"></i></a>
					<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<h3>CONTACT US</h3>
				<br>
				<input class="form-control" placeholder="Name" /><br>
				<input class="form-control" placeholder="Email" /><br>
				<input class="form-control" placeholder="Subject" /><br>
				<input class="form-control" placeholder="Content" /><br>
				<input type="button" class="btn btn-outline-success" value="Submit" />
			</div>
		</div>
	</div>
    
	<!--	about panel end-->

	<!--	 Footer-->
	<div class="footer-div">
		<footer>Copyright TechWiz &copy;- All rights Reserved</footer>
	</div>
	<!--	footer end-->

</body>
</html>
