<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/about-us.css">
     <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
<title>Untitled Document</title>
</head>

<body>
    
     <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">

        <a class="navbar-brand" href="#">
            <img src="images/logo-red.png" class="nav-logo" alt="LOGO"> Job Portals
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="#" class="nav-link">Home</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="view/jobs.html" class="nav-link">Jobs</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Job List</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Day</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Day (Colored)</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Night</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Night (Colored)</a>
                    </div>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="view/about.html" class="nav-link">Contact Us</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-5">
                    <a href="#" class="nav-link">About Us</a>
                </li>
                
                

            </ul>
             <ul class="navbar-nav ml-auto" id="navRegister">
                
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-danger" style="height: 600px">
            
            </div>
        
        </div>
<!--        2nd row-->
        <div class="row">
            <div class="col-md-12 bg-dark cover-Div" style="height: 200px">
                
            </div>
        </div>
    
    </div>
</body>
</html>
