<!doctype html>
<html>

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<!--angularjs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <!--angularjs end-->
	
	<script type="text/javascript" src="../data/data.json"></script>
	<script src="../js/data.js"></script>
	<script src="../js/jobs-controller.js"></script>
	<script src="../js/common.js"></script>

	<link rel="stylesheet" href="../css/jobs.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/about-panel.css" />
</head>

<body ng-app="jobs" ng-controller="jobsController">

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">

		<a class="navbar-brand" href="#">
			<img src="../images/logo-red.png" class="nav-logo" alt="LOGO"> Job Portals
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item dropdown textFontsize mr-5">
					<a href="../index.html" class="nav-link">Home</a>
				</li>

				<li class="nav-item dropdown textFontsize mr-5">
					<a href="#" class="nav-link">Jobs</a>
				</li>

				<li class="nav-item dropdown textFontsize mr-5">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Job List</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" onClick="changeTheme(this)" href="#">Day</a>
						<a class="dropdown-item" onClick="changeTheme(this)" href="#">Day (Colored)</a>
						<a class="dropdown-item" onClick="changeTheme(this)" href="#">Night</a>
						<a class="dropdown-item" onClick="changeTheme(this)" href="#">Night (Colored)</a>
					</div>
				</li>

				<li class="nav-item dropdown textFontsize mr-5">
					<a href="view/about.html" class="nav-link">Contact Us</a>
				</li>

				<li class="nav-item dropdown textFontsize mr-5">
					<a href="view/about.html" class="nav-link">About Us</a>
				</li>

			</ul>
		</div>
	</nav>

	<div class="top-img">
		<img src="../images/crousal/slide1.jpg" alt="img" width="100%" height="400px">
		<h1 class="center-xy heading">Find Jobs Easily</h1>
	</div>

	<div class="top-main">
		<h3 class="text-center">Search Your Related Jobs</h3>
		<br>
		<center>
			<div class="search">
				<input type="text" class="form-control mb-2 mr-sm-2 search-box" placeholder="Search Jobs..." ng-model="search">
				<button type="submit" class="btn btn-primary mb-2 btn-search">Search</button>
			</div>
		</center>
	</div>

	<hr class="main-line">

	<div class="spinner-p">
		<div class="row">
			<div class="col-md-5">
				<div class="dis-flex">
					<h5 class="sp-label">Choose Main Category : </h5>
					<select class="form-control spinner" ng-model="mainCat">
						<option ng-repeat="item in spinnerArray" ng-selected="{{item.mainCat == mainCat}}"  value="{{item.mainCat}}">
							{{item.mainCat}}
						</option>
					</select>
				</div>
			</div>
			<div class="col-md-7">
				<div class="tags">
					<h5 class="tag-heading mr-2">Tags: </h5>
					<div class="tag-1">Banking</div>
					<div class="tag-2">React-Native</div>
					<div class="tag-3">ASP.NET</div>
					<div class="tag-4">IT - Professional</div>
					<div class="tag-5">Software Engineering</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="spinner-p">
		<div class="row">
			<div class="col-md-5">
				<div class="dis-flex">
					<h5 class="sp-label">Choose Sub Category : </h5>
					<select class="form-control spinner" ng-show="mainCat" ng-model="subCat" ng-selected="{{subItem.name == subCat}}">
						<option ng-repeat="subItem in getSubSpItems(mainCat)" ng-selected="{{subItem.name == subCat}}" value="{{subItem.name}}">
							{{subItem.name}}
						</option>
					</select>
				</div>
			</div>
			<div class="col-md-7">
				<div class="tags">
					<h5 class="tag-heading mr-2">Tags: </h5>
					<div class="tag-2">Python</div>
					<div class="tag-5">Assistant Manager</div>
					<div class="tag-1">Teacher</div>
					<div class="tag-3">Content Writer</div>
					<div class="tag-4">Assist. Director</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<h3 class="text-center">{{subCat}}</h3>

	<div class="cards-p">

		<div class="jCard" ng-repeat="card in getCards(mainCat,subCat) | filter:search">
			<div class="card-heading">
				<h4 class="card-head center-xy text-white">{{card.companyTitle}}</h4>
				<img src="../images/products/cards/{{getRandomNo(1,10)}}.jpg" width="100%" height="100%" alt="img" />
			</div>
			<div class="card-detail">
				<br>
				<div class="card-row">
					<div><span class="fa fa-envelope-square"></span> {{subCat}}</div>
					<div><span class="fa fa-dollar"></span> {{card.salMin}} - {{card.salMax}}</div>
				</div>
				<div class="card-row">
					<div><span class="fa fa-suitcase"></span> {{card.vacancies}} Vacancies</div>
					<div><span class="fa fa-clock-o"></span> {{card.exp}}Y Experience</div>
				</div>
				<br>
				<button class="btn-view btn btn-light btn-block">View</button>
			</div>
		</div>
		
	</div>

	<!--	about panel-->
	<div class="about-panel container-fluid">
		<div class="row">
			<div class="col-md-3 ab-first-row">
				<center><img alt="img" src="../images/logo-red.png" width="200px" height="auto" /></center>
				<!--					<br>-->
				<!--					<p>We provide you best opertunities to get Jobs in a high talented working comunity.</p>-->
				<br><br>
				<center>
					<hr style="background-color: #1E1E1E; width: 90%;">
				</center>
				<p>Call Us - 0348-2821889</p>
				<p>Send Email On ranag4u69@gmail.com</p>
				<p>Visit Us SFC Aptech Karachi, Pakistan</p>
			</div>
			<div class="col-md-3">
				<h3>POPULAR CATEGORIES</h3>
				<br>
				<div class="tags">
					<span>REACT-NATIVE</span>
					<span>ANDROID</span>
					<span>HTML &amp; CSS</span>
					<span>JAVASCRIPT</span>
					<span>REACT-JS</span>
					<span>JAVA</span>
					<span>ASP.NET</span>
				</div>
				<br>
				<br>
				<br>
				<h3>GET MORE INFO</h3>
				<p>Get any info or give us any suggestions by contacting us.We provide you best opertunities to get
					Jobs quickly.</p>
			</div>
			<div class="col-md-3">
				<h3>RECENTS JOBS</h3><br>
				<h4>Software House Manager</h4>
				<h4>Content Writer</h4>
				<h4>Game Developer</h4>
				<h4>Frontend Designer</h4>
				<h4>Backend Server Designer</h4>
				<br>
				<br>

				<p>Get More Jobs...</p>
				<div class="icon-bar">
					<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="google"><i class="fa fa-google"></i></a>
					<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<h3>CONTACT US</h3>
				<br>
				<input class="form-control" placeholder="Name" /><br>
				<input class="form-control" placeholder="Email" /><br>
				<input class="form-control" placeholder="Subject" /><br>
				<input class="form-control" placeholder="Content" /><br>
				<input type="button" class="btn btn-outline-success" value="Submit" />
			</div>
		</div>
	</div>
	<!--	about panel end-->

	<!--	 Footer-->
	<div class="footer-div">
		<footer>Copyright TechWiz &copy;- All rights Reserved</footer>
	</div>
	<!--	footer end-->

</body>

</html>